<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h4>Navegación</h4>
            <ul class="footer-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/products">Productos</a></li>
                <li><a href="/cart">Carrito</a></li>
            </ul>
        </div>
        <div class="footer-section brand-section">
            <h3>TESSARI TECH</h3>
            <p>Tu tienda gamer de confianza.</p>
        </div>
        <div class="footer-section">
            <h4>Redes</h4>
            <div class="social-icons">
                <a href="https://www.instagram.com/tessari.tech/" target="_blank" rel="noopener noreferrer"><i
                        class="fab fa-instagram"></i></a>
            </div>
        </div>
    </div>
</footer>