<!DOCTYPE html>
<html lang="es">

<head>
    <%- include('../partials/head') %>
</head>

<body>

    <%- include('../partials/header') %>

        <div class="form-container">
            <h2>Iniciar Sesión</h2>

            <form action="/users/login" method="POST">
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Contraseña" required>

                <label style="display: block; margin: 10px 0;">
                    <input type="checkbox" name="remember_user"> Recordarme
                </label>

                <button type="submit">INGRESAR</button>
            </form>

            <p>¿No tenés cuenta? <a href="/users/register">Registrate</a></p>
        </div>

        <%- include('../partials/footer') %>

</body>

</html>